#education
  +span-columns(8)
  ul
    margin: 1rem 0 2rem 0
  li
    +row
    margin-bottom: .5rem
    padding-bottom: .5rem
    border-bottom: 1px solid lighten($color4, 20%)
    &:last-child
      border-bottom: none
  .course-institution
    +span-columns(6 of 8)
    .course
      color: $color5
      display: block
      font-size: 1.2rem
    .institution
      color: $color6
      display: block
      text-decoration: none
      &:hover
        text-decoration: underline
  .dates
    +span-columns(2 of 8)
    color: $color6
    text-align: right
  .label
    display: none