#header
  +row
  +pad(3rem)
  background-color: $color5

  .header-name
    +span-columns(6)

    h1
      font-size: 4rem
      color: $color1
    p
      color: $color2
      letter-spacing: .1rem
      &:before
        content: "{"
      &:after
        content: "}"

  #header-info
    +span-columns(5)
    font-size: .8rem
    color: $color7

    .label
      font-size: .6rem
      display: block
      color: $color2

    .info
      margin-bottom: .3rem

    a
      color: $color7

#border-header
  height: 2rem
  +background-size(2rem 2rem)
  background-repeat: repeat-x
  background-image:  -webkit-linear-gradient(-45deg, $color5 25%, transparent 25%, transparent), -webkit-linear-gradient(45deg, transparent 75%, $color5 75%)