<div id="languages">
  <h2>
    <%= I18n.t("languages.title") %>
  </h2>
  <ul>
    <% data.languages.each do |language| %>
      <li>
        <span class="language-name">
          <%= language.name %>
        </span>
        <span class="language-proficiency">
          <%= language.proficiency %>
        </span>
      </li>
    <% end %>
  </ul>
</div>