<div id="cores">
  <ul>
    <li class="cor1"></li>
    <li class="cor2"></li>
    <li class="cor3"></li>
    <li class="cor4"></li>
    <li class="cor5"></li>
    <li class="cor6"></li>
    <li class="cor7"></li>
    <li class="cor8"></li>
  </ul>
</div>
